
.container {
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    border-radius: 1rem;
}

.content {
    text-align: center;
}


a {
    text-decoration: none;
}

a:hover {
    transform: rotate(10deg);
}